$color-primary: #c7443a;
$color-off-primary: #e64c44;
$color-secondary: #9db77a;
$color-secondary-dark: darken($color-secondary, 10%);
$color-secondary-light: lighten($color-secondary, 30%);
// $color-off-secondary: #4a3f35;
$color-dark: #7a6667;
$color-off-dark: #907b7a;
$color-light: rgb(255, 255, 255);
$color-off-light: darken($color-light, 20%);
$color-black: #000;
$color-off-black: lighten($color-black, 20%);
