.page-main {
    position: relative;
    display: grid;

    grid-template-columns: calc(25vw - 3px) auto;
    grid-template-areas: 'side cont';
    // height: 100%;
    z-index: 1;
    .sidebar {
        background-color: $color-off-primary !important;
        color: $color-light;
        grid-area: side;
        @media (max-width: $mq-mobile-l) {
            display: none;
        }
    }
    .content {
        padding: 1em;
        background-color: $color-off-black;
        color: $color-light;
        grid-area: cont;
        @media (max-width: $mq-mobile-l) {
            grid-column: 1/-1;
        }
    }
}
