/* 
Base settings inspired by Sakura CSS.
https://github.com/oxalorg/sakura
*/
:root {
  --scrollbar-width: 50px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  font-family: Montserrat, sans-serif;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: overlay;
}

label {
  cursor: pointer;
  user-select: none;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

p {
  word-spacing: 0em;
  text-indent: 1em;
  line-height: 1.3em;
  margin-bottom: 0.5em;
  max-width: clamp(40ch, 50%, 75ch);
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
  text-align: justify;
}

ul {
  list-style-type: none;
}

body {
  font-size: 1.6rem;
  box-sizing: border-box;
  margin: 0;
}

h1 {
  font-size: 235%;
}

h2 {
  font-size: 200%;
}

h3 {
  font-size: 175%;
}

h4 {
  font-size: 150%;
}

h5 {
  font-size: 125%;
}

h6 {
  font-size: 100%;
}

.center-text {
  text-align: center;
}

.center-content {
  min-height: 100%;
  display: grid;
  place-items: center;
}

.hoverable {
  transition: all 0.05s ease;
  cursor: pointer;
}
.hoverable:hover {
  transform: translateY(-0.1em);
  text-shadow: 0 5px 10px rgba(122, 102, 103, 0.2);
}
.hoverable:active {
  transform: translateY(0);
  text-shadow: 0 2px 10px rgba(122, 102, 103, 0.4);
}
.hoverable-children > * {
  transition: all 0.05s ease;
  cursor: pointer;
}
.hoverable-children > *:hover {
  transform: translateY(-0.1em);
  text-shadow: 0 5px 10px rgba(122, 102, 103, 0.2);
}
.hoverable-children > *:active {
  transform: translateY(0);
  text-shadow: 0 2px 10px rgba(122, 102, 103, 0.4);
}
.hoverable-half {
  transition: all 0.05s ease;
  cursor: pointer;
}
.hoverable-half:hover {
  transform: translateY(-0.05em);
  text-shadow: 0 5px 10px rgba(122, 102, 103, 0.2);
}
.hoverable-half:active {
  transform: translateY(0);
  text-shadow: 0 2px 10px rgba(122, 102, 103, 0.4);
}
.hoverable-double {
  transition: all 0.05s ease;
  cursor: pointer;
}
.hoverable-double:hover {
  transform: translateY(-0.2em);
  text-shadow: 0 5px 10px rgba(122, 102, 103, 0.2);
}
.hoverable-double:active {
  transform: translateY(0);
  text-shadow: 0 2px 10px rgba(122, 102, 103, 0.4);
}

.flex {
  display: flex;
}
.flex.between {
  justify-content: space-between;
}

.center-grid-justified {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.center-grid-justified .left {
  text-align: right;
}
.center-grid-justified .right {
  text-align: left;
}
.center-grid-justified.centered {
  position: relative;
  left: 13%;
}

.pointer {
  cursor: pointer;
}

.no-select {
  user-select: none !important;
}

.link:hover {
  text-decoration: underline;
}

.no-underline {
  text-decoration: none !important;
}
.no-underline:hover {
  text-decoration: none !important;
}

.page-main-container {
  padding-top: 5vh;
}

.align-bottom {
  display: flex;
  align-content: flex-end;
}

.page-main {
  position: relative;
  display: grid;
  grid-template-columns: calc(25vw - 3px) auto;
  grid-template-areas: "side cont";
  z-index: 1;
}
.page-main .sidebar {
  background-color: #404040 !important;
  color: white;
  grid-area: side;
}
@media (max-width: 768px) {
  .page-main .sidebar {
    display: none;
  }
}
.page-main .content {
  padding: 1em;
  background-color: #333333;
  color: white;
  grid-area: cont;
}
@media (max-width: 768px) {
  .page-main .content {
    padding: 0;
  }
}
@media (max-width: 768px) {
  .page-main .content {
    grid-column: 1/-1;
  }
}

#subscribe-star-logo .ss-upper-s {
  transition: all 0.2s ease;
  fill: #fff;
}
#subscribe-star-logo .ss-lower-s {
  transition: all 0.2s ease;
  fill: #e1e1e1;
}
#subscribe-star-logo .ss-outline {
  transition: all 0.2s ease;
  stroke: #fff;
}
#subscribe-star-logo:hover .ss-upper-s {
  fill: #fff;
}
#subscribe-star-logo:hover .ss-lower-s {
  fill: #ff4081;
}
#subscribe-star-logo:hover .ss-outline {
  stroke: #009688;
}

#patreon-logo {
  transition: all 0.2s ease;
  fill: white;
  cursor: pointer;
}
#patreon-logo:hover {
  fill: #ff424d;
}

#youtube-logo {
  transition: all 0.2s ease;
  fill: #fff;
}
#youtube-logo:hover {
  fill: #ff0000;
}

#twitter-logo {
  transition: all 0.2s ease;
  fill: #fff;
}
#twitter-logo:hover {
  fill: #1da1f2;
}

/* custom scrollbar */
html > ::-webkit-scrollbar {
  position: absolute;
  width: 0.8em;
  background-color: #333333;
}

::-webkit-scrollbar {
  width: 0.5em;
  background-color: #907b7a;
}

.description > ::-webkit-scrollbar-thumb {
  border: 2px solid transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #999999;
  border: 1em solid transparent;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #cccccc;
}

#patrician-logo {
  position: fixed;
  height: auto;
  width: 25vw;
  max-width: 25vw;
  z-index: 1;
}

.header {
  overflow: hidden;
  width: 100vw;
  color: white;
  background-color: #7a6667;
}
.header h1 {
  text-align: center;
}
.header .header-content {
  background-color: #9db77a;
  display: flex;
  align-items: center;
  height: 25em;
  padding-top: 1em;
}
@media (max-width: 320px) {
  .header .header-content .spotlight-video {
    transform: scale(0.8);
  }
}
.header .header-content .pat-left,
.header .header-content .pat-right {
  height: 27em;
  flex: 1;
  align-self: end;
  align-items: end;
}
@media (max-width: 1024px) {
  .header .header-content .pat-left svg,
.header .header-content .pat-right svg {
    display: none;
  }
}
.header .header-content .pat-left {
  display: flex;
  align-items: flex-end;
}
.header .header-content .pat-left svg {
  transform: translateY(3px) scale(-1, 1) translateX(3px);
}
.header .header-content .pat-right {
  display: flex;
  justify-content: flex-end;
}
.header .header-content .pat-right svg {
  transform: translateY(3px) translateX(3px);
}

@media (max-width: 768px) {
  .navbar {
    display: none;
  }
}

.navbar-horizontal {
  display: flex;
  background-color: #404040 !important;
  color: white;
}
.navbar-horizontal .nav-item {
  height: 3.2em;
  flex-direction: column;
}
@media (max-width: 320px) {
  .navbar-horizontal .nav-item {
    font-size: 0.7em;
  }
}
.navbar-horizontal .nav-item .text {
  flex: 1;
  overflow: hidden;
}
.navbar-horizontal .nav-item .marker {
  height: 0.4em;
  width: 100% !important;
  max-width: 100% !important;
}
@media (min-width: 768px) {
  .navbar-horizontal {
    display: none;
  }
}

.logo-tray {
  padding: 1em;
  display: flex;
  justify-content: center;
}
.logo-tray svg {
  cursor: pointer;
  height: 3em !important;
  width: auto !important;
}
.logo-tray .logo:not(:last-child) {
  margin-right: 1em;
}

.footer {
  height: 7vh;
  background-color: #7a6667;
  color: white;
  text-align: center;
  padding: 1em;
}
.footer #copyright {
  margin-top: 0.2em;
  color: #cccccc;
  font-size: 0.9em;
}

.nav-item {
  transition: all 0.2s ease;
  display: flex;
  max-height: 4em;
  background-color: #c7443a;
  color: white;
}
.nav-item:hover {
  background-color: #e9625a;
}
.nav-item:hover .marker {
  background-color: #f8cdcb;
}
.nav-item.current {
  color: white;
  background-color: #333333;
}
.nav-item.current .marker {
  background-color: #cccccc;
}
.nav-item .text {
  padding: 0.5em;
  font-size: 1.5em;
  text-align: center;
  display: block;
  flex: 1;
}
.nav-item .text:hover {
  text-decoration: none;
}
.nav-item .marker {
  transition: all 0.2s ease;
  background-color: #f5b8b4;
  width: 1em;
  max-width: 1em;
}

.call-to-action {
  text-align: center;
}
@media (max-width: 768px) {
  .call-to-action {
    margin: 0.5em;
    font-size: 1.4em;
  }
}

.all-analyses {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 320px) {
  .all-analyses .youtube-thumbnail {
    margin: 1em;
  }
}

.youtube-thumbnail {
  transition: all 0.2s ease;
  padding: 1em;
  border-radius: 10px;
  background-color: #907b7a;
  width: min(calc(320px + 2em), 95vw);
  cursor: pointer;
}
.youtube-thumbnail img {
  width: min(320px, calc(95vw - 2em));
  height: auto;
}
.youtube-thumbnail:hover {
  background-color: #a39190;
}
.youtube-thumbnail .image-placeholder {
  margin: 0 auto;
  margin-bottom: 1em;
  width: 320px;
  height: 180px;
  border-radius: 10px;
  background-color: #7a6667;
}
.youtube-thumbnail .title-placeholder {
  width: 320px;
  height: 1.5em;
  background-color: #7a6667;
  border-radius: 20px;
}
.youtube-thumbnail .title {
  margin-top: 0.5em;
  color: white;
  word-wrap: break-word;
}

@media (max-width: 768px) {
  iframe {
    width: 100vw !important;
  }
}

/*# sourceMappingURL=style.css.map */
