.youtube-thumbnail {
    transition: all 0.2s ease;

    padding: 1em;
    border-radius: 10px;
    background-color: $color-off-dark;
    width: min(calc(320px + 2em), 95vw);
    img {
        width: min(320px, calc(95vw - 2em));
        height: auto;
    }
    cursor: pointer;
    &:hover {
        background-color: lighten($color-off-dark, 8%);
    }
    .image-placeholder {
        margin: 0 auto;
        margin-bottom: 1em;
        width: 320px;
        height: 180px;
        border-radius: 10px;
        background-color: $color-dark;
    }
    .title-placeholder {
        width: 320px;
        height: 1.5em;
        background-color: $color-dark;
        border-radius: 20px;
    }
    .title {
        margin-top: 0.5em;
        color: $color-light;
        word-wrap: break-word;
    }
}
iframe {
    @media (max-width: $mq-tablet) {
        width: 100vw !important;
        // height: 40vh !important;
    }
}
